<%= form_with(model: spot) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Название %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.select :type_id, Type.pluck(:name, :id) %>
  </div>


  <div class="field">
    <%= form.label :Адрес %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :Метро %>
    <%= form.text_field :metro %>
  </div>


  <div class="field">
  <%= form.label :Время_работы %>
  <%= form.text_field :works %>
  </div>

  <div class="field">
  <%= form.label :Цена %>
  <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :Фотки %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
