<div class="posts_page">

<div class="flex-title_button">
<h1 class="posts_title">
  Споты
</h1>
<button class="add_smth">
<%= link_to '+', new_spot_path %>
</button>
</div>

<div class="flex-categories">
<div class="category_item">
<%= link_to "Все", spots_path %>
<% Type.where(display_in_navbar: true).each do |typ| %>
  <%= link_to typ.name, spots_path(type: typ.id) %>
  <% end %>
  </div>
</div>


<div class="posts_container_grid">

    <% @spots.each do |spot| %>
      <div class="post_card">
        <h2 class="post_postik"><%= spot.name %></h2>
        <p class="post_postik"><%= spot.metro %></p>
        <h3 class="post_postik"><%= spot.type.name %></h3>
        <div>
          <%= link_to(image_tag(spot.image.thumb.url, alt: 'Image'), spot.image.url, target: '_blank') if spot.image? %>
        </div>

        <div class="flex-align">
        <button class="show_btn">
          <%= link_to 'Открыть', spot %>
        </button>  
        
          <% if user_signed_in? && current_user.id == spot.user_id %>
          <div class="button_actions">
            <%= link_to 'Изменить', edit_spot_path(spot) %>
        <% end %>
        <% if (user_signed_in? && current_user.isadmin == true) || (user_signed_in? && current_user.id == spot.user_id) %>
          <%= link_to 'Удалить', spot, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
        </div>

      </div>
    <% end %>

</div>

<br>

</div>
