<div class="posts_page">

<div class="new_post_title">
<%= link_to 'Назад к спотам', spots_path %>
<h1>
  <%= @spot.name %>
</h1>
</div>

<div class="new_post_page">
<div class="block_post">
<h3>
  Место
</h3>
<p>
  <%= @spot.location %>
</p>
</div>

<div class="block_post">
<h3>
  Тип спота
</h3>
<p>
  <%= @spot.type.name %>
</p>
</div>

<div class="block_post">
<h3>
  Описание
</h3>
<p>
  <%= @spot.description %> 
</p>
</div>

<div class="block_post">
<%= image_tag(@spot.image.url, alt: 'Image') if @spot.image? %>
</div>

<% if user_signed_in? %>

<% pre_saved = @spot.saveds.find { |saved| saved.user_id == current_user.id} %>
  <% if pre_saved %>
    <%= button_to 'Убрать из сохраненных', spot_saved_path(@spot, pre_saved), method: :delete %>
  <% else %>
    <%= button_to 'Добавить в сохраненные', spot_saveds_path(@spot), method: :post %>
<% end %>
<% end %>

<% if user_signed_in? && current_user.id == @spot.user_id %>
<div class="post_edit">
  <%= link_to 'Изменить', edit_spot_path(@spot) %>
  </div>
<% end %>
</div>

<div class="comment_post_block">
<h2>Комментарии</h2>
<%= render @spot.spot_comments %>

<% if user_signed_in? %>
<h2>Добавить коммент:</h2>
  <%= render "spot_comments/form" %>
  <% else %>
  <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
<% end %>
</div>
</div>