<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @spot.location %>
</p>

<p>
  <strong>Image:</strong>
  <%= @spot.image %>
</p>

<%= image_tag(@spot.image.url, alt: 'Image') if @spot.image? %>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>

<h2>Comments</h2>
<%= render @spot.spot_comments %>

<h2>Add a comment:</h2>
<%= render "spot_comments/form" %>