<div class="spot-page-flex">
  <div class="left-foto-spot">
    <%= react_component 'A_Spot_Image', { 
    image: @spot.image.url } %>
  </div>

<div class="right-details-spot">


<button class="type-btn">
  <%= @spot.type.name %>
</button>



<h1 class="spot-page-title">
  <%= @spot.name %>
</h1>

<div class="spot-item">
<div class="spot-label">
 м <%= @spot.metro %>
</div>
<p class="spot-text">
  <%= @spot.location%>
</p>


<div class="flex-buttons">
<%= link_to 'Показать маршрут', 'https://www.google.ru/maps/', class: 'button-styled' %>
<div class="post_edit">
  <%= link_to 'Поделиться', edit_spot_path(@spot) %>
  </div>
</div>
</div>



<div class="spot-item">
<div class="spot-label">
  Время работы
</div>
<p class="spot-text">
  <%= @spot.works %>
</p>
</div>


<div class="spot-item">
<div class="spot-label">
  Стоимость
</div>
<p class="spot-text">
  <%= @spot.price %> 
</p>
</div>

 <p class="post_edit">
    Сохранили <%= Saved.where(spot_id: @spot.id).length %> скейтеров
 </p>
<% if user_signed_in? %>

<% pre_saved = @spot.saveds.find { |saved| saved.user_id == current_user.id} %>
  <% if pre_saved %>
    <%= button_to 'Убрать из сохраненных', spot_saved_path(@spot, pre_saved), method: :delete, class: 'button-styled'  %>
  <% else %>
    <%= button_to 'Добавить в сохраненные', spot_saveds_path(@spot), method: :post, class: 'button-styled' %>
<% end %>
<% else %>
<%= button_to 'Добавить в сохраненные', new_user_session_path, class: 'button-styled' %>
<% end %>

<% if user_signed_in? && current_user.id == @spot.user_id %>
<div class="post_edit">
  <%= link_to 'Редактировать', edit_spot_path(@spot) %>
  </div>
<% end %>

<div >
<h2 class="comment-title">Комментарии</h2>
<%= render @spot.spot_comments %>

<% if user_signed_in? %>
  <%= render "spot_comments/form" %>
  <% else %>
  <p class="login-action"> <%= link_to 'Залогинься', new_user_session_path %> или <%= link_to 'зарегистрируйся', new_user_registration_path %> чтобы комментить</p>
<% end %>
</div>



</div>
</div>

<div class="same-spots">
<h1 class="spot-page-title">Другие споты города</h1>
<%= react_component 'M_Spot_Horisontal_Grid', { spots: Spot.all, types: Type.all, saveds: Saved.all, current_user: current_user } %>
</div>
