<div class="container-form">
<h2 class="login">Редактирование</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field spot-input">
    <%= f.text_field :username, autocomplete: "username" %>
  </div>

  <div class="field">
  <a>Aватар</a> <%= f.file_field :avatar %>
</div>

  <div class="field spot-input">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field spot-input">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Новый пароль (6 символов)" %>
  </div>

  <div class="field spot-input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Новый пароль еще раз" %>
  </div>

  <div class="field spot-input">
    <p style="margin-top: 56px">Чтобы внести изменения, введите текущий пароль</p><br />
    <%= f.password_field :current_password, autocomplete: "current-password",placeholder: "Текущий пароль" %>
  </div>

  <div class="">
    <%= f.submit "Обновить", class: 'button-styled' %>
  </div>
<% end %>

<%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: "post_edit_delete", style: "font-size: 18px; width: 440px; margin-top: 32px" %>
</div>