<div style="idth: 100%; display: flex; align-items: center">
<div class="cool-bg">
        <%= image_tag 'A_Registration_Screen.png' %>
        </div>
<div class="container-form">
<h2 class="login">Регистрация</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field spot-input">
    <%= f.text_field :username, autocomplete: "username", placeholder: "Твое имя" %>
</div>

  <div class="field spot-input">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Твоя почта" %>
  </div>

  
  <div class="field spot-input">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Твой пароль (6 символов минимум)" %>
  </div>

  <div class="field spot-input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Твой пароль еще раз"  %>
  </div>
  

  <div class="">
    <%= f.submit "Зарегистрироваться", class: 'button-styled' %>
  </div>
<% end %>
<div class="shared"> 
<%= render "devise/shared/links" %>
</div>
</div>
</div>