<div class="posts_page">

<div class="flex-title_button">
<h1 class="posts_title">
  Типы спотов
</h1>
  <% if user_signed_in? && current_user.isadmin == true %>
  <button class="add_smth">
    <%= link_to '+', new_type_path %>
  </button>
  <% end %>
</div>


  <div class="types_container_drid">
    <% @types.each do |type| %>
      <div class="type_card">
        <h2><%= type.name %></h2>
        <h3><%= type.description %></h3>

        <button class="show_btn">
        <%= link_to 'Открыть', type %>
        </button>

        <% if user_signed_in? && current_user.isadmin == true %>
        <button><%= link_to 'Изменить', edit_type_path(type) %></button>
        <button><%= link_to 'Удалить', type, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
