<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type.description %>
</p>

<% if user_signed_in? && current_user.isadmin == true %>
<button>
<%= link_to 'Edit', edit_type_path(@type) %> 
</button>
<% end %>
<%= link_to 'Back', types_path %>
