<p>ID <%= @user.id %></p>
<p>Email <%= @user.email %></p>
    <% if user_signed_in? && current_user.isadmin == true %>
     <p>Admin <%= @user.isadmin %></p>
    <% end %>
<p>Username <%= @user.username %></p>

Выученных <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Трюк' : 'Трюков'%>
<% @posts.each do |post| %>
  <br><%= link_to post.title, post %>
<% end %>

Saved <%= @user.saveds.count %> <%= (@user.saveds.count) == 1 ? 'Спот' : 'Спотов'%>
<% @spots.each do |spot| %>
  <br><%= link_to spot.name, spot %>
<% end %>

<% if user_signed_in? && @user.id == current_user.id %>
	<p><%= link_to 'Edit profile', edit_user_registration_path %></p>
<% end %>