<div class="posts_page">

<div class="flex-title_button">
  <h1 class="posts_title">
    Ивенты
  </h1>
  <button class="add_smth">
    <%= link_to '+', new_event_path %>
  </button>
</div>

<div class="flex-categories">
  <% Category.all.each do |cat| %>
    <div class="category_item">
    <%= link_to cat.name, events_path(category: cat.name) %> 
    </div>
  <% end %>
  </div>

<div class="posts_container_grid">

    <% @events.each do |event| %>
      <div class="post_card">
        <h2 class="post_postik"><%= event.name %></h2>
        <h3 class="post_postik">Место <%= event.location %></h3>
        <h3 class="post_postik">Дата события <%= event.date %></h3>
        <h3 class="post_postik"><%= event.category.name %></h3>
      
        <div class="flex-align">
        <button class="show_btn">
        <%= link_to 'Открыть', event %>
        </button>
        <% if user_signed_in? %>
        <div class="button_actions">
        <%= link_to 'Изменить', edit_event_path(event) %>
        <% end %>

        <% if (user_signed_in? && current_user.isadmin == true) || (user_signed_in? && current_user.id == event.user_id) %>
        <%= link_to 'Удалить', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
        </div>

        <div class="info_btn">
          <button>
            <%= event.goes.count %> <%= (event.goes.count) == 1 ? 'Пойдет' : 'Пойдут'%>
          </button>
        </div>
      </div>
    <% end %>
  
  </div>
<br>


</div>