<div class="event-page-flex">



<div class="left-card">
  <div>
    <h1>
      <%= @event.name %>
    </h1>
    <p><%= @event.description %></p>
  </div>
  
<div>
<p class="chat"> Вступай в <%= link_to 'чат ивента', @event.link %> </p>

<div class="flex-buttons-event">
<button class="button-styled-event"> Поделиться </button>
<% if user_signed_in? && current_user.id == @event.user_id %>
<div class="post_edit">
  <%= link_to 'Редактировать', edit_event_path(@event) %> 
  </div>
<% end %>
</div>
</div>
</div>

<div class='right-card'>
<div class="event-card-top">
<div class="event-card-top-items">
  <h2>
    <%= @event.metro %>
  </h2>
 <p> 
 <%= @event.location %>
 </p>
</div>
<button class="tag-button-event">
<%= @event.category.name %>
</button>
</div>

<div class="bottom-flex">

<div>
  <p>
    <%= @event.goes.count %> <%= (@event.goes.count) == 1 ? 'участник' : 'участников'%>
  </p>

  <% if user_signed_in? %>
  <% pre_go = @event.goes.find { |go| go.user_id == current_user.id} %>
  <% if pre_go %>
    <%= button_to 'Не пойду', event_go_path(@event, pre_go), method: :delete, class: 'button-styled-event' %>
  <% else %>
    <%= button_to 'Пойду на ивент', event_goes_path(@event), method: :post, class: 'button-styled-event-go' %>
  <% end %>
  <% end %>
</div>
<h1 class="time">
  <%= @event.time %>
</h1>
</div>

</div>
</div>