<%= form_for([@event, @event.eventcomments.build]) do |f| %>
	<div class="field">
	<%= current_user.email %>
	</div>
	<div class="field">
	 <%= f.label :Текст %><br />
	 <%= f.text_area :body %>
	</div>
	<div class="actions">
	 <%= f.submit "Комментировать" %>
	</div>
   <% end %>