<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="event-form">
<div class="contaier-colums"> 
<div style="margin-right: 20%">
  <div class="spot-input">
    <%= form.label :Название %>
    <%= form.text_field :title, placeholder: "Назови трюк"%>
  </div>

  <div class="spot-input">
      <%= form.label :Категория %>
      <%= form.select :category_id, Category.pluck(:name, :id) %>
  </div>


  <div class="spot-input">
	<%= form.label :Видео %>
	<%= form.text_field :videos, placeholder: "Сколько добавлено видео" %>
  </div>

  <div class="spot-input">
	<%= form.label :Снаряжение %>
	<%= form.text_field :equipment, placeholder: "Специальные штуки, нужные для трюка" %>
  </div>

  <div class="spot-input">
	<%= form.label :Описание %>
	<%= form.text_field :description %>
</div>
</div>

<div>
  <div>
	<%= form.label :Изображение %>
	<%= form.file_field :image %>
  </div>

  <div class="spot-input">
    <%= form.label :Контент %>
    <%= form.cktext_area :content %>
  </div>
  </div>
  
  </div>


  <div class="button-temporary">
    <%= form.submit "Создать" %>
  </div>
  </div>
<% end %>
