<%= render "header" %>
<div class="posts_page">
<p id="notice"><%= notice %></p>

<div class="flex-title_button">
  <h1 class="posts_title">Трюки</h1>
    <button>
      <span>
        ::
      </span>
        <%= link_to 'Добавить трюк', new_post_path %>
      <span>
      ::
      </span>
    </button>
</div>

 <div class="posts_container_grid">

 <% @posts.each do |post| %>
   <div class="post_card">
     <div class="plashka">
      <h2><%= post.title %></h2>
      <h3><%= post.time%></h3>
      <button class="<%= post.level%>"><%= post.level %></button>
     </div>
     <p><%= post.description %></p>
     <button><%= link_to 'Show', post %></button>
     <button><%= link_to 'Edit', edit_post_path(post) %></button>
     <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
   </div>
    <% end %>

  </div>


<br>
</div>
