<%= render "header" %>
<div class="posts_page">


<div class="flex-title_button">
  <h1 class="posts_title">Трюки</h1>
    <button>
      <span>
        ::
      </span>
        <%= link_to 'Добавить трюк', new_post_path %>
      <span>
      ::
      </span>
    </button>
</div>

 <div class="posts_container_grid">

 <% @posts.each do |post| %>
   <div class="post_card">
     <div class="plashka">
      <h2><%= post.title %></h2>
      <h3><%= post.time%></h3>
      <button class="<%= post.level%>"><%= post.level %></button>
     </div>
     <p><%= post.description %></p>
     <div class="flex-align">
        <button class="show_btn">
          <span>
            ::
          </span>
            <%= link_to 'Открыть', post %>
          <span>
            ::
          </span>
        </button>
        <div class="button_actions">
            <%= link_to 'Изменить', edit_post_path(post) %>
            <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
     </div>
   </div>
    <% end %>

  </div>


<br>
</div>
