<div class="posts_page">

<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :starts_with, params[:starts_with] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>

<div class="flex-title_button">
  <h1 class="posts_title">
    Трюки
  </h1>
  <% if user_signed_in? && current_user.isadmin == true %>
  <button class="add_smth">
    <%= link_to '+', new_post_path %>
  </button>
  <% end %>
</div>

<div class="flex-categories">



<% Category.where(display_in_navbar: true).each do |cat| %>
  <div class="category_item">
  <% if cat.name === "Все" %>
    <%= link_to "Все", posts_path %> 
    <% else %>
  <%= link_to cat.name, posts_path(category: cat.id) %>
  <% end %>
  </div>
  <% end %>

</div>
 <div class="posts_container_grid">

 <% @posts.each do |post| %>
   <div class="post_card">
      <h2 class="post_postik"><%= post.title %></h2>
      <h3 class="post_postik"><%= post.category.name%></h3>
     <div class="flex-align">
        <button class="show_btn">
            <%= link_to 'Открыть', post %>
        </button>
        <% if user_signed_in? && current_user.isadmin == true %>
        <div class="button_actions">
            <%= link_to 'Изменить', edit_post_path(post) %>
            <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
     </div>
     <div class="info_btn">
            <button>
            <%= post.favorites.count %> <%= (post.favorites.count) == 1 ? 'Скейтер умеет' : 'Скейтеров умеют'%>
        </button>
      </div>
   </div>
    <% end %>

  </div>


<br>
</div>
