<div class="posts_page">


<div class="flex-title_button">
  <h1 class="posts_title">
    Трюки
  </h1>
  <% if user_signed_in? && current_user.isadmin == true %>
  <button class="add_smth">
    <%= link_to '+', new_post_path %>
  </button>
  <% end %>
</div>

<div class="flex-categories">

<% Category.all.each do |cat| %>
  <div class="category_item">
	  <%= link_to cat.name, posts_path(category: cat.name) %>
  </div>
<% end %>

</div>
 <div class="posts_container_grid">

 <% @posts.each do |post| %>
   <div class="post_card">
      <h2 class="post_postik"><%= post.title %></h2>
      <h3 class="post_postik">Времени на изучение <%= post.time%></h3>
      <h3 class="post_postik"><%= post.category.name%></h3>
     <p class="post_postik"><%= post.description %></p>
     <div class="flex-align">
        <button class="show_btn">
            <%= link_to 'Открыть', post %>
        </button>
        <% if user_signed_in? && current_user.isadmin == true %>
        <div class="button_actions">
            <%= link_to 'Изменить', edit_post_path(post) %>
            <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
     </div>
     <div class="info_btn">
        <button>
                <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
            </button>
            <button>
            <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%>
            </button>
      </div>
   </div>
    <% end %>

  </div>


<br>
</div>
