<%= render "header" %>



<div class="post_info">
<span class="post_edit">
<%= link_to 'Назад к постам', posts_path %>
</span>
  <div class="edit">
    <div class="post_edit">
      <%= link_to 'Изменить', edit_post_path(@post) %>
    </div>
    <div class="post_delete">
      <%= link_to 'Удалить', posts_path %>
    </div>
  </div>

  <p class="post_title">
    <strong></strong>
    <%= @post.title %>
  </p>

<div class="post_scales">
  <p class="post_time">
    <strong>Время</strong>
  </p>
  <div class="post_mini">
    <%= @post.time %>
  </div>

  <p class="post_level">
    <strong>Сложность</strong>
  </p>
  <div class="post_mini">
    <%= @post.level %>
  </div>

  <p class="post_description">
    <strong>Описание</strong>
  </p>
  <div class="post_mini">
    <%= @post.description %>
  </div>

</div>
</div>

<div class="post_pic">

  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

  <p class="post_content">
    <strong></strong>
    <%= @post.content %>
  </p>

</div>


<div class="comment_section">

  <h2 class="comment_title">Комментарии</h2>
  <div class="comments_grid">
    <%= render @post.comments %>
  </div>

  <h2 class="add_comment">Тут будут комментарии</h2>
  


  <%= render "comments/form" %>

</div>
