<%= render "header" %>



<div class="post_info">
<span class="post_edit">
<%= link_to 'Назад к постам', posts_path %>
</span>
  <div class="edit">
  <% if user_signed_in? %>
      <div class="post_edit">
        <%= link_to 'Изменить', edit_post_path(@post) %> 
      </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="post_delete">
      <%= link_to 'Удалить', posts_path %>
    </div>
    <% end %>
  </div>

  <p class="post_title">
    <strong></strong>
    <%= @post.title %>
  </p>

<div class="post_scales">
  <p class="post_time">
    <strong>Время</strong>
  </p>
  <div class="post_mini">
    <%= @post.time %>
  </div>

  <p class="post_level">
    <strong>Сложность</strong>
  </p>
  <div class="post_mini">
    <%= @post.level %>
  </div>

  <p class="post_level">
    <strong>Категория</strong>
  </p>
  <div class="post_mini">
    <%= @post.category.name %>
  </div>

  <p class="post_description">
    <strong>Описание</strong>
  </p>
  <div class="post_mini">
    <%= @post.description %>
  </div>

</div>
</div>

<div class="post_pic">

  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

  <p class="post_content">
    <strong></strong>
    <%= @post.content.html_safe %>
  </p>

</div>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% if user_signed_in? %>

  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
  <% end %>

  <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
    <% if pre_favorite %>
        <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
    <% else %>
        <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
  <% end %>


<% end %>


<div class="comment_section">

  <h2 class="comment_title">Комментарии</h2>
  <div class="comments_grid">
    <%= render @post.comments %>
  </div>

  <h2 class="add_comment">Тут будут комментарии</h2>
  

  <% if user_signed_in? %>
    <%= render "comments/form" %>
  <% else %>
    <p> Please <link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
  <% end %>
</div>
