<%= render "header" %>
<div class="about1">

  <div class="yellow_skate">
    <span>
      ::
    </span>
      <h1>
        GOOFY
      </h1>
    <span>
      ::
    </span>
  </div>
  <div class="blue_skate"></div>
  <h3>Медиа-сервис для тех, кто только начинает свой путь в скейтбординге и чувствует себя некомфортно в тусовке</h3>

</div>

<div class="about2">

<div class="concept1">
    <h2>Концепция</h2>
    <p>Медиа-сервис должен помочь людям, которые мечтают кататься на скейте, <br>
      но стесняются и чувствуют себя некомфортно <br>
      в скейтпарках </p>
  </div>
  <div class="concept2">
    <h2>Аудитория</h2>
    <p>17-23  года. Уровень — очень начинающий. Время года для катания — лето. Ценности — скейтерская культура и друзья</p>
  </div>
  <div class="print"></div>

</div>

<div class="about3">

  <h3>CusDev подтвердил гипотезы</h3>
  <div class="skater_problems1">
    <h2>Проблемы начинающих скейтеров</h2>
    <h2>Решение</h2>
  </div>
  <div class="skater_problems2">
    <p>Не умеют кататьcя <br>
       Не знают, где кататься <br>
       Не знают, с кем кататься</p>

       <div class='features2'>
       <% features = [ ['Трюки', '#D78CED', 'purple'], ['Споты','#FFCB00', 'yellow'], ['Ивенты', '#005AFF', 'blue'] ]%>
       <% features.each do |feature| %>
           <%= render 'features', feature: feature %>
           <% end %>
       </div>

  </div>
</div>

<div class="about4">

  <h2>Выбранные фичи</h2>
  <div class="fichi_group">
      <div class="fichi"></div>
      <p>Лайк <br>
         Рэйт <br>
         Сэйв <br>
         Комментарии <br>
         Поиск, саджест в поиске <br>
         Система фильтров <br>
         Возможность для пользователей размещать свой контент <br>
         Карта</p>
  </div>

</div>

<div class="about5">

  <p>Начинающие скейтеры сталкиваются с массой трудностей. Их самая большая проблема — отсутствие тусовки. Чаще всего у тех , кто только хочет начать кататься, пропадает мотивация. Это и есть проблема, которую решает наш медиа-сервис. Ищет людей и места для катания, а также помогает в обучении.</p>
  <div class="goofy_footer">
    <span>::</span>
    <h2>GOOFY</h2>
    <span>::</span>
  </div>

</div>

<footer class='header_promo'>
   <div>
        <%= link_to "О нас", about_path %>
        <%= link_to "Посты", about_path %>

        <button class='button_join'>
            <span>
            ::
            </span>
            <%= link_to "Вступить", splash_path %>
            <span>
            ::
                </span>
        </button>
   </div>

   <button class='button_promo'>
    <%= link_to "Goofy", promo_path %>
   </button>
</footer>
