<div class="posts_page">

<div class="flex-title_button">
<h1 class="posts_title">
  Подборки по уровню
</h1>
   
<% if user_signed_in? && current_user.isadmin == true %>
<button class="add_smth">
<%= link_to '+', new_category_path %>
</button>
<% end %>
</div>

<div class="types_container_drid">
    <% @categories.each do |category| %>
      <div class="type_card">
        <h2>
        Для трюков
        <%= link_to category.name, posts_path(category: category.name)%>
        </h2>
        <h2>
        Для ивентов
        <%= link_to category.name, events_path(category: category.name)%>
        </h2>
        <h3><%= category.description %></h3>

        <button class="show_btn">
        <%= link_to 'Открыть', category %>
        </button>

        <% if user_signed_in? && current_user.isadmin == true %>
        <button><%= link_to 'Изменить', edit_category_path(category) %></button>
        <button><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
